CompileFlags:
  Add:
    - -isystem/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include
    - -I/Users/avhidotsol/Dev/risk-engine/thirdparty/caravel
    - -I/Users/avhidotsol/Dev/risk-engine/thirdparty/cjson
    - -I/opt/homebrew/opt/libwebsockets/include
    - -I/opt/homebrew/opt/openssl@3/include
  Remove:
    - --target=sbf
    - -fPIC
    - -Oz
    - -fno-builtin
    - -fdata-sections
